<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Thank you for volunteering</title>
        <!-- This app collects people's height and tells you the avg height of everyone via email -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "../static/main.css">
    </head>
    <body>
        <div class = "container">
            <p class = "emailCheck">Thank you so much for volunteering!<br>You will receive an email with the survey results soon.</p>
                <p class = "spamFolder">Please note: if you haven't received an email, please check your spam folder.</p> 
        </div>
        
    </body>
</html>